{% extends "base.html" %}
{% block content %}

<div class="airline-card">
    <h2>✈ Upload Flight Capacity</h2>

    <form method="POST">

        <input class="airline-input" name="airline" placeholder="Airline Name">
        <input class="airline-input" name="flight_no" placeholder="Flight Number">

        <input class="airline-input" name="origin" placeholder="Origin (e.g., DEL)">
        <input class="airline-input" name="destination" placeholder="Destination (e.g., DXB)">

        <input class="airline-input" type="date" name="date">

        <input class="airline-input" name="capacity" placeholder="Capacity (kg)">

        <select class="airline-input" name="cargo_type">
            <option>General</option>
            <option>Pharma</option>
            <option>Dangerous Goods</option>
            <option>High Value</option>
            <option>Perishables</option>
            <option>Animals</option>
        </select>

        <button class="neon-btn" type="submit">Upload Flight</button>
    </form>
</div>

{% endblock %}
