<form method="POST">

    <input class="airline-input" name="airline" placeholder="Airline Name" required>
    <input class="airline-input" name="flight_no" placeholder="Flight Number" required>

    <input class="airline-input" name="origin" placeholder="Origin (DEL)" required>
    <input class="airline-input" name="destination" placeholder="Destination (DXB)" required>

    <input class="airline-input" type="date" name="date" required>

    <input class="airline-input" type="time" name="departure_time" required>
    <input class="airline-input" type="time" name="arrival_time" required>

    <input class="airline-input" name="duration_minutes" placeholder="Duration (mins)" required>

    <input class="airline-input" name="capacity" placeholder="Capacity (kg)" required>

    <select class="airline-input" name="cargo_type">
        <option>General</option>
        <option>Pharma</option>
        <option>Dangerous Goods</option>
        <option>High Value</option>
        <option>Perishables</option>
    </select>

    <button class="neon-btn">Upload Flight</button>
</form>
